.contenerorBoton{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor:pointer;
    user-select: none;
    
}
.contenerorBoton:hover{
  background-color: rgb(110, 109, 106);
}
.operador{
  background-color: rgba(5, 111, 21, 0.86);
}
.operador:hover{
  background-color: rgb(36, 169, 118);
}

